<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Добавить нового пользователя</title>
</head>
<body>
<form action="/admin/add" method="post">
    <input required type="text" th:name="name" placeholder="имя">
    <input required type="text" th:name="password" placeholder="пароль">
    <input required type="text" th:name="money" placeholder="деньги">
    <select th:name="role_id" size="1" >
        <option >ROLE_ADMIN</option>
        <option  >ROLE_USER</option>
        <option >ROLE_ADMIN,ROLE_USER</option>

    </select>
    <input type="submit" value="Сохранить">
</form>

<p th:text= "${AddUserException}"></p>
<p th:text= "${NumberFormatException}"></p>
<a th:href="@{/logout}">Logout</a>

</body>
</html>