<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" >
<!--Content-Type: multipart/form-data; boundary=something-->
<head>
    <title>Изменить данные пользователя</title>
</head>
<body>

Редактировать пользователя

<form action="/admin/update" method="post">

    <input type="text" th:name = "id" th:value="${user.getId()}">
    <input type="text" th:name ="name" th:value="${user.getUsername()}" >
    <input type="text" th:name ="password" th:value="${user.getPassword()}" >
    <input type="text" th:name ="money" th:value="${user.getMoney()}" >

    <select  th:name="role"  size="1">
        <option th:value="admin">ROLE_ADMIN</option>
        <option  th:value="user">ROLE_USER</option>
    <option th:selected="selected" th:text="${user.getAuthorities()}"></option>
    </select>

    <input type="submit" value="Обновить">

</form>

<p th:text= "${UpdateUserException}"></p>

</body>
</html>
